* {
	box-sizing: border-box;
}

h1 {
	color: #ebfbff;
	text-align: center;
	font-weight: bold;
	background-color: #03284d;
	margin-bottom: 0;
	padding: 10px;
}

p.author {
	color: #ebfbff;
	text-align: center;
	background-color: #03284d;
	font-style: italic;
	margin-bottom: 0;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #02376c;
	overflow: hidden;
	margin: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #ebfbff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #78b3ff;
	color: #ebfbff;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #1d72d2;
	color: #ebfbff;
}