* {
	box-sizing: border-box;
}

h1 {
	color: #ebfbff;
	text-align: center;
	font-weight: bold;
	/*background-color: #03284d;*/
	background-image: linear-gradient(black, #03284d);
	margin-bottom: 0;
	padding: 15px;
}

p.author {
	color: #ebfbff;
	text-align: center;
	background-color: #03284d;
	font-style: italic;
	margin-bottom: 0;
	padding: 0px 0px 10px;
}

.navcontainer {
	position: relative;
}

.topnav {
	/*background-color: #02376c;*/
	background-image: linear-gradient(#03284d, #07539f);
	position: relative;
	overflow: hidden;
	text-align: center;
	height: 100px;
}
/* Style the links inside the navigation bar */

.topnav a {
	color: #ebfbff;
	display: inline-block;
	padding: 8px 30px;
	text-decoration: none;
	font-size: 18px;
	border: solid 1px transparent;
	border-radius: 15px;
	margin-top: 25px;
	margin-inline: 15px;
}

/* Change the color of links on hover */

.topnav a:hover {
	background-color: #78b3ff;
	color: #ebfbff;
	border: solid 1px #ebfbff;
	text-decoration: underline;
}
/* Add a color to the active/current link */

.topnav a.active {
	background-color: #1d72d2;
	color: #ebfbff;
	border: solid 1px transparent;
}

.ellipse-top-overlay {
	z-index: 3;
	clip-path: ellipse(55% 100% at top center);
	background-color: #02376c;
}

.navimagebordertop {
	z-index: 2;
	clip-path: ellipse(55% 100% at top center);
	background-color: #ebfbff;
	margin-top: 3px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	position: absolute;
}

.navimageborderbottom {
	clip-path: ellipse(80% 100% at top center);
	background-color: #ebfbff;
	margin-top: 3px;
	top: 0;
	left: 0;
	width: 100%;
	height: 275px;
	position: absolute;
}

.navimage {
	z-index: 1;
	object-fit: cover;
	object-position: top;
	width: 100%;
	max-height: 275px;
	top: 0;
	left: 0;
	position: absolute;
	clip-path: ellipse(80% 100% at top center);
}

.navimageclose {
	background-color: #000c18;
	height: 1000px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}
